<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Welcome to Avengers Database</h1>

<div th:if="${session.avengerList.empty}">
    <h2>Add an avenger to begin!</h2>
</div>

<div th:unless="${session.avengerList.empty}">
    <table>
        <tr>
            <th>Name</th><th>Age</th>
        </tr>
        <tr th:each="avenger : ${session.avengerList}">
            <td th:text="${avenger.name}">Name</td>
            <td th:text="${avenger.age}">Age</td>
        </tr>
    </table>
</div>

<form action="#" th:action="@{/addAvenger}" method="post" th:object="${avenger}">

    <p>Name <input type="text" th:field="*{name}"></p>
    <p>Age <input type="number" th:field="*{age}"></p>
    <p>Name <input type="submit" value="Add!"></p>

</form>

</body>
</html>